<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />                        <!-- Property 의 값이 null 일때 NULL 삽입 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />              <!-- db column 의 xx_yy 형식을 camelCase xxYY 형식으로 자동 매핑 -->
		<setting name="logImpl" value="SLF4J" />
	</settings>

	<typeAliases>
		<typeAlias alias="egovMap" type="egovframework.rte.psl.dataaccess.util.EgovMap"/>
		<typeAlias alias="searchVO" type="kr.nwlle.sample.vo.SampleDefaultVO"/>
		<typeAlias alias="sampleVO" type="kr.nwlle.sample.vo.SampleVO"/>
		
		<typeAlias alias="comCodeVO" type="kr.nwlle.common.vo.ComCodeVO"/>    
	</typeAliases>

</configuration>
